:root {
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #A9A9A9;
    --branco: #FFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--preto);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#main-area-jogo {
    background-image: url(../images/space.png);
    height: 600px;
    width: 100%;
}

.button-start {
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.alien {
    height: 60px;
    width: 70px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
}