* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

:root {
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #A9A9A9;
    --branco: #FFFF;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('./img/background.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wechat-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.wechat-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.wechat-phone img {
    height: 45rem;
}

.wechat-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/background.jpg');
    width: 100%;
    padding: 1.3rem 0;
    border: var(--preto) 2px solid;
    border-radius: 7px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.wechat-logo {
    height: 4rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    overflow: hidden;
}

.profile-photo img {
    height: 7rem;
}

.wechat-login {
    background-color: var(--preto);
    color: var(--branco);
    padding: 7px;
    border-radius: 7px;
    margin-top: 1rem;
    cursor: pointer;
    transition: .2s ease all;
}

.wechat-login:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.wechat-logout {
    color: var(--cinza);
    margin-top: 1rem;
    cursor: pointer;
    transition: .2s ease all;
}

.wechat-logout:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.not-account {
    color: var(--cinza);
    margin-top: 7px;
    cursor: pointer;
    transition: .2s ease all;
}

.not-account :hover {
    background-color: var(--cinza);
    color: var(--preto);
}


.link-gray {
    color: var(--cinza);
}

.get-app {
    color: var(--cinza);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
    border-radius: 7px;
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
    border-radius: 7px;
}

/* media queries */
@media (max-width: 1024px) {
    .wechat-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: var(--preto);
    }

    .wechat-wrapper {
        width: 90%;
    }

    .wechat-phone {
        display: none;
    }

    .wechat-continue {
        width: 100%;
    }
    
    .group {
        border: 1px var(--preto)
    }
}